# development stuff
.vscode
.env

# internal stuff
*/*/run
*/*/run/*
*/*/testing
*/*/logs/*.csv
*/*/.env

# binaries
sfs.*

# util testing script
reset.sh

# cpu and memory profiling
*.pprof
*.out

# misc stuff
old-files
test_items
notes.txt
docs/Basic-Cloud-Architecture.png

*/*/*/static/*
*/*/configs.yaml
