# development stuff
.vscode
docs
.env

# internal stuff
*/*/run
*/*/run/*
*/*/testing
*/*/logs/*.csv
*/*/.env

# binaries
sfs.*

# util testing script
reset.sh

# cpu and memory profiling
*.pprof
*.out

test_items
notes.txt
*/*/*/static/*
