# development stuff
.vscode
.env

# internal stuff
*/*/run
*/*/run/*
*/*/testing
*/*/logs/*.csv
*/*/.env

# binaries
sfs.*

# util testing script
reset.sh

# cpu and memory profiling
*.pprof
*.out

old-files
test_items
notes.txt
*/*/*/static/*
docs/Basic-Cloud-Architecture.png
