<!DOCTYPE html>
<html lang="en">
  {{template "header"}}
  <body>
    {{template "frame"}}
    <div id="content">
      {{template "toolbar"}}
      <div id="file-upload-container">
        <form action="/add/discover" method="get" enctype="multipart/form-data">
          <label for="folder-input"
            >Choose a folder and add it to the SFS drive with all its
            contents:</label
          >
          <input
            type="file"
            id="folder-input"
            name="folder"
            webkitdirectory
            directory
            style="display: none"
          />
          <button
            type="button"
            onclick="document.getElementById('folder-input').click();"
          >
            Choose Folder
          </button>
        </form>
      </div>
    </div>
    <!-- check if the server is up -->
    <script type="text/javascript">
      function checkServerStatus() {
        let serverURL = "http://" + "{{.ServerHost}}";
        console.log("serverURL: " + serverURL);
        const statusText = document.getElementById("status-text");
        fetch(serverURL)
          .then((response) => {
            if (response.ok) {
              statusText.textContent = "online";
              statusText.classList.remove("offline");
              statusText.classList.add("online");
            } else {
              throw new Error("Server offline");
            }
          })
          .catch((error) => {
            statusText.textContent = "offline";
            statusText.classList.remove("online");
            statusText.classList.add("offline");
          });
      }
      document.addEventListener("DOMContentLoaded", checkServerStatus);
      setInterval(checkServerStatus, 60000); // Check every 60 seconds
    </script>
    <!-- receive the path to the folder to run discover on, and send to client server -->
    <script type="text/javascript" src="/static/scripts/send-path.js"></script>
  </body>
</html>
