<!DOCTYPE html>
<html lang="en">
  {{template "header"}}
  <body>
    {{template "frame"}}
    <div id="content">
      {{template "toolbar"}}
      <!-- TODO: more interesting layout for displaying file information. 
        Should include a OR code for instance information about the file -->
      <!-- <table class="file-table">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type </th>
                <th>Last Sync</th>
                <th>Checksum</th>
                <th>Endpoint</th>
            </tr>
            <tr>
                <td>file.txt</td>
                <td>123 Mb</td>
                <td>.txt</td>
                <td>7.12.24 - 1:04pm</td>
                <td>4093485mg3409gm9485g9485g</td>
                <td>http://localhost:8080/v1/endpoint</td>
            </tr>
        </table> -->
    </div>
  </body>
</html>
