<!DOCTYPE html>
<html lang="en">
  {{template "header"}}
  <body>
    {{template "frame"}}
    <div id="content">
      {{template "toolbar"}}
      <div class="folder-contents">
        <h2 class="folder-name">{{.Name}}</h2>
      </div>
      <table class="folder-table">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Type</th>
          <th>Last Sync</th>
          <th>Download</th>
          <th>Checksum</th>
        </tr>
        {{range .Dirs}}
        <tr>
          <td
            onclick="window.location.href='http://localhost:9090/dir/i/{{.ID}}';"
            style="cursor: pointer"
          >
            <img src="assets/folder-small.png" alt="small folder icon" />
          </td>
          <td>{{.Name}}</td>
          <td>{{.Size}}</td>
          <td>{{.LastSync}}</td>
          <td><a href="{{.Endpoint}}">Link</a></td>
          <td>n/a</td>
        </tr>
        {{end}} {{range .Files}}
        <td
          onclick="window.location.href='http://localhost:9090/files/i/{{.ID}}';"
          style="cursor: pointer"
        >
          <img src="assets/file-small.png" alt="small file icon" />
        </td>
        <td>{{.Name}}</td>
        <td>{{.Size}}</td>
        <td>{{.LastSync}}</td>
        <td><a href="{{.Endpoint}}">Link</a></td>
        <td>{{.Checksum}}</td>
        {{end}}
      </table>
    </div>
  </body>
</html>
