{{define "toolbar"}}
<div class="toolbar">
  <button class="toolbar-button" onclick="window.location.href='new-file.html'">
    New
  </button>
  <button
    class="toolbar-button"
    onclick="window.location.href='upload-file.html'"
  >
    Upload
  </button>
  <button
    class="toolbar-button"
    onclick="window.location.href='download-file.html'"
  >
    Download
  </button>
  <button class="toolbar-button" onclick="window.location.href='new-file.html'">
    More
  </button>
</div>
{{end}}
