<!DOCTYPE html>
<html lang="en">
  {{template "header"}}
  <body>
    {{template "frame"}}
    <div id="content">
      {{template "toolbar"}}
      <!-- Table View -->
      <table class="file-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Last Sync</th>
          <th>Server Download</th>
        </tr>
        {{range .Dirs}}
        <tr>
          <td
            onclick="window.location.href='http://localhost:9090/dirs/i/{{.ID}}'"
            style="cursor: pointer"
          >
            <img src="/assets/folder-small.png" alt="small folder icon" />
          </td>
          <td>{{.Name}}</td>
          <td>{{.Size}} bytes</td>
          <td>{{.LastSync}}</td>
          <td><a href="{{.Endpoint}}">Link</a></td>
        </tr>
        {{end}} {{range .Files}}
        <tr>
          <td
            onclick="window.location.href='http://localhost:9090/files/i/{{.ID}}'"
            style="cursor: pointer"
          >
            <img src="/assets/file-small.png" alt="small file icon" />
          </td>
          <td>{{.Name}}</td>
          <td>{{.Size}} bytes</td>
          <td>{{.LastSync}}</td>
          <td><a href="{{.Endpoint}}">Link</a></td>
        </tr>
        {{end}}
      </table>
    </div>
    <script>
      function checkServerStatus() {
        let serverURL = "http://" + "{{.ServerHost}}";
        console.log("serverURL: " + serverURL);
        const statusText = document.getElementById("status-text");
        fetch(serverURL)
          .then((response) => {
            if (response.ok) {
              statusText.textContent = "online";
              statusText.classList.remove("offline");
              statusText.classList.add("online");
            } else {
              throw new Error("Server offline");
            }
          })
          .catch((error) => {
            statusText.textContent = "offline";
            statusText.classList.remove("online");
            statusText.classList.add("offline");
          });
      }
      document.addEventListener("DOMContentLoaded", checkServerStatus);
      setInterval(checkServerStatus, 60000); // Check every 60 seconds
    </script>
  </body>
</html>
