<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "frame"}}
    <div id="content">
      <div class="button-container" id="drive-page-buttons">
        <div class="home-button" id="home-button">
          <a href="/drive" id="drive-page-link">
            <button class="add-button" id="drive-page-button">My Drive</button>
          </a>
        </div>
        <div class="arrow-container" style="padding: 20px">🡲</div>
        <button class="add-button" id="folder-dropdown-btn">{{.Name}}</button>
        <div class="dropdown-content" id="folder-dropdown-menu">
          <a id="new-file-link" href="/upload">New File</a>
          <a id="new-folder-link" href="/add">New Folder</a>
        </div>
      </div>
      <table class="file-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Last Sync</th>
          <th>Server Download</th>
        </tr>
        {{range .Dirs}}
        <tr>
          <td
            onclick="redirectToPage('/dirs/i/{{.ID}}');"
            style="cursor: pointer"
          >
            <img src="/assets/folder-small.png" alt="small folder icon" />
          </td>
          <td>{{.Name}}</td>
          <td>{{.Size}} bytes</td>
          <td>{{.LastSync}}</td>
          <td><a href="{{.Endpoint}}">Link</a></td>
        </tr>
        {{end}} {{range .Files}}
        <tr>
          <td
            onclick="redirectToPage('/files/i/{{.ID}}');"
            style="cursor: pointer"
          >
            <img src="/assets/file-small.png" alt="small file icon" />
          </td>
          <td>{{.Name}}</td>
          <td>{{.Size}} bytes</td>
          <td>{{.LastSync}}</td>
          <td><a href="{{.Endpoint}}">Link</a></td>
        </tr>
        {{end}}
      </table>
    </div>
    <script type="text/javascript">
      let url = "http://" + `{{.ServerHost}}`;
      document.addEventListener("DOMContentLoaded", checkServerStatus(url));
      setInterval(checkServerStatus(url), 60000); // Check every 60 seconds
    </script>
  </body>
</html>
