{{define "frame"}}
<header>
  <div id="logo">
    <div class="image-container">
      <a href="/">
        <img src="/assets/main-icon-small.png" alt="main icon with text" />
      </a>
    </div>
  </div>
  <div id="search">
    <form id="search-form" onsubmit="submitSearch(event)">
      <input
        type="text"
        id="search-input"
        name="searchQuery"
        placeholder="Search in drive"
        style="width: 400px; padding: 10px"
      />
      <button type="submit">Search</button>
    </form>
  </div>
  <div id="profile-pic" class="profile-pic">
    <a href="/user">
      <img
        src="{{if .ProfilePic}} /assets/profile-pics/{{.ProfilePic}} {{else}} /assets/profile-pics/default_profile_pic.jpg {{end}}"
        alt="users profile picture"
        style="width: 40px; border-radius: 50%; cursor: pointer"
      />
    </a>
  </div>
</header>
<div id="sidebar">
  <div class="button-container">
    <button class="add-button" id="dropdown-btn">➕ New</button>
    <div class="dropdown-content" id="dropdown-menu">
      <a id="new-file-link" href="/upload">New File</a>
      <a id="new-folder-link" href="/add">New Folder</a>
    </div>
  </div>
  <a href="/" class="sidebar-link">
    <div class="sidebar-item"><i class="icon">🏠</i> Home</div>
  </a>
  <a href="/drive" class="sidebar-link">
    <div class="sidebar-item"><i class="icon">📂</i>My Drive</div>
  </a>
  <a href="/user " class="sidebar-link">
    <div class="sidebar-item"><i class="icon">👤</i> User</div>
  </a>
  <a href="/starred" class="sidebar-link">
    <div class="sidebar-item"><i class="icon">⭐</i>Starred</div>
  </a>
  <a href="/recycled" class="sidebar-link">
    <div class="sidebar-item"><i class="icon">🗑️</i>Recycle Bin</div>
  </a>
  <a href="/settings" class="sidebar-link">
    <div class="sidebar-item"><i class="icon">⚙️</i>Settings</div>
  </a>
  <div id="server-status" class="sidebar-item">
    Server status: <span id="status-text">checking...</span>
  </div>
</div>
{{end}}
