{{define "frame"}}
<header>
  <div id="logo">
    <h1 onclick="window.location.href='/'" style="cursor: pointer">My Drive</h1>
  </div>
  <div id="search">
    <form id="search-form" onsubmit="submitSearch(event)">
      <input
        type="text"
        id="search-input"
        name="searchQuery"
        placeholder="Search for files and directories in your Drive"
        style="width: 400px; padding: 10px"
      />
      <button type="submit">Search</button>
    </form>
  </div>
  <div id="profile">
    <a href="/user">
      <img
        src="{{if .ProfilePic}} /assets/profile-pics/{{.ProfilePic}} {{else}} /assets/profile-pics/default_profile_pic.jpg {{end}}"
        alt="users profile picture"
        style="width: 40px; border-radius: 50%; cursor: pointer"
      />
    </a>
  </div>
</header>
<div id="sidebar">
  <div class="toolbar">
    <button class="toolbar-button" onclick="window.location.href='/upload'">
      Add Files
    </button>
    <button class="toolbar-button" onclick="window.location.href='/add'">
      Add Folders
    </button>
  </div>
  <a href="/" class="sidebar-link">
    <div class="sidebar-item">Home</div>
  </a>
  <a href="/drive" class="sidebar-link">
    <div class="sidebar-item">My Drive</div>
  </a>
  <a href="/user " class="sidebar-link">
    <div class="sidebar-item">User</div>
  </a>
  <a href="/starred" class="sidebar-link">
    <div class="sidebar-item">Starred</div>
  </a>
  <a href="/recycled" class="sidebar-link">
    <div class="sidebar-item">Recycle Bin</div>
  </a>
  <a href="/settings" class="sidebar-link">
    <div class="sidebar-item">Settings</div>
  </a>
  <div id="server-status" class="sidebar-item">
    Server status: <span id="status-text">checking...</span>
  </div>
</div>
{{end}}
