{{define "header"}}
<header>
  <div id="logo">
    <div class="image-container">
      <a href="/">
        <img src="/assets/main-icon-with-text.png" alt="main icon with text" />
      </a>
    </div>
  </div>
  <div id="search">
    <form id="search-form" onsubmit="submitSearch(event)">
      <input
        type="text"
        id="search-input"
        name="searchQuery"
        placeholder="Search for files and directories in your Drive"
        style="width: 400px; padding: 10px"
      />
      <button type="submit">Search</button>
    </form>
  </div>
  <div id="profile">
    <a href="/user">
      <img
        src="{{if .ProfilePic}} /assets/profile-pics/{{.ProfilePic}} {{else}} /assets/profile-pics/default_profile_pic.jpg {{end}}"
        alt="users profile picture"
        style="width: 40px; border-radius: 50%; cursor: pointer"
      />
    </a>
  </div>
</header>
{{end}}
