<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "frame"}}
    <div id="content">
      <div class="welcome-container">
        <h2 id="welcome-text">Welcome to your Drive</h2>
      </div>
      <div id="main-search">
        <form id="search-form" onchange="submitSearch(event)">
          <input
            type="text"
            id="search-input"
            name="searchQuery"
            placeholder="Search in drive"
            style="width: 700px"
          />
        </form>
      </div>
      <div class="search-params-container">
        <div class="type-menu-content">
          <button class="type-button" id="type-button">Type</button>
          <select id="type-menu" class="dropdown-content">
            <option value="document">📄 Documents</option>
            <option value="images">📷 Images</option>
            <option value="audio">🎵 Audio</option>
            <option value="video">🎥 Video</option>
            <option value="archives">🗂️ Archive Files</option>
          </select>
        </div>
        <div class="modified-menu-content">
          <button class="modified-button" id="modified-button">Modified</button>
          <select id="modified-menu" class="dropdown-content">
            <option value="today">Today</option>
            <option value="this-week">This week</option>
            <option value="last-2-weeks">Last 2 weeks</option>
            <option value="last-month">Last Month</option>
            <option value="last-6-months">Last 6 months</option>
            <option value="last-year">Last Year</option>
          </select>
        </div>
        <div class="location-menu-content">
          <button class="location-button" id="location-btn">Location</button>
          <select id="location-menu" class="dropdown-content">
            {{range .Dirs}}
            <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
          </select>
        </div>
      </div>
      <div class="table-header-container">
        <h2 class="table-header">Your items</h2>
      </div>
      <table class="file-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Last Sync</th>
          <th>Server Download</th>
        </tr>
        {{range .Dirs}}
        <tr>
          <td
            onclick="window.location.href='/dirs/i/{{.ID}}'"
            style="cursor: pointer"
          >
            <img src="/assets/folder-small.png" alt="small folder icon" />
          </td>
          <td>{{.Name}}</td>
          <td>{{.Size}} bytes</td>
          <td>{{.LastSync}}</td>
          <td><a href="{{.Endpoint}}">Link</a></td>
        </tr>
        {{end}} {{range .Files}}
        <tr>
          <td
            onclick="window.location.href='/files/i/{{.ID}}'"
            style="cursor: pointer"
          >
            <img src="/assets/file-small.png" alt="small file icon" />
          </td>
          <td>{{.Name}}</td>
          <td>{{.Size}} bytes</td>
          <td>{{.LastSync}}</td>
          <td><a href="{{.Endpoint}}">Link</a></td>
        </tr>
        {{end}}
      </table>
    </div>
    <script type="text/javascript">
      let url = "http://" + `{{.ServerHost}}`;
      document.addEventListener("DOMContentLoaded", checkServerStatus(url));
      setInterval(checkServerStatus(url), 60000); // Check every 60 seconds
    </script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {
        const searchBar = document.getElementById("search");
        searchBar.style.display = "none";
      });
    </script>
  </body>
</html>
