<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "frame"}}
    <div id="content">
      <div class="settings-container">
        <h2 style="text-align: center">Application Settings</h2>
        <form id="settings-form">
          <div class="setting-item">
            <label for="theme">Theme:</label>
            <select id="theme" name="theme">
              <option value="light">Light</option>
              <option value="dark">Dark</option>
            </select>
          </div>
          <br />
          <div class="setting-item">
            <label for="server-sync">Sync With Server</label>
            <p id="sync-with-server-instructions">
              Whether to automatically sync with the remote server. Disabling
              this will create local backups only, and will not attempt to sync
              with the remote server.
            </p>
            <input
              type="checkbox"
              id="server-sync"
              name="server-sync"
              checked="{{.ServerSync}}"
            />
          </div>
          <br />
          <div class="setting-item">
            <label for="local-backup-dir">Local Backup Directory</label>
            <input
              type="text"
              id="local-backup-dir"
              name="local-backip-dir"
              style="width: 500px"
              placeholder="current: {{.BackupDir}}"
            />
          </div>
          <div class="setting-item">
            <label for="client-port">Client Port</label>
            <p id="client-port-notification">
              NOTE: This will take effect next time the application is launched.
            </p>
            <input
              type="number"
              id="client-port"
              name="client-port"
              placeholder="current: {{.ClientPort}}"
            />
          </div>
          <br />
          <div class="setting-item">
            <label for="sync-delay">Sync Delay</label>
            <p id="sync-delay-instructions">
              This affects how ofter the client will attempt to synchronize with
              the server. The current setting is one sync event per
              {{.EventBufferSize}} detected events for a given item. Default is
              2 detections per sync event. Increasing this number will increase
              the time between syncronization events.
            </p>
            <input
              type="number"
              id="sync-delay"
              name="sync-delay"
              placeholder="current: {{.EventBufferSize}}"
            />
          </div>
          <br />
          <button type="button" id="save-settings" onclick="submitSettings()">
            Save Settings
          </button>
        </form>
        <div id="loading-spinner" class="spinner" style="display: none">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
      <script src="/static/scripts/settings.js"></script>
      <script>
        function checkServerStatus() {
          let serverURL = "http://" + "{{.ServerHost}}";
          console.log("serverURL: " + serverURL);
          const statusText = document.getElementById("status-text");
          fetch(serverURL)
            .then((response) => {
              if (response.ok) {
                statusText.textContent = "online";
                statusText.classList.remove("offline");
                statusText.classList.add("online");
              } else {
                throw new Error("Server offline");
              }
            })
            .catch((error) => {
              statusText.textContent = "offline";
              statusText.classList.remove("online");
              statusText.classList.add("offline");
            });
        }
        document.addEventListener("DOMContentLoaded", checkServerStatus);
        setInterval(checkServerStatus, 60000); // Check every 60 seconds
      </script>
    </div>
  </body>
</html>
