<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "frame"}}
    <div id="content">
      <div class="settings-container">
        <h2 style="text-align: center" id="settings header">
          Application Settings
        </h2>
        <form id="settings-form">
          <div class="setting-item">
            <label for="theme">Theme:</label>
            <select id="theme" name="theme">
              <option value="light">Light</option>
              <option value="dark">Dark</option>
            </select>
          </div>
          <br />
          <div class="setting-item">
            <label for="server-sync">Sync With Server</label>
            <p id="sync-with-server-instructions">
              Whether to automatically sync with the remote server. Disabling
              this will create local backups only, and will not attempt to sync
              with the remote server.
            </p>
            <input
              type="checkbox"
              id="server-sync"
              name="server-sync"
              checked="{{.ServerSync}}"
            />
          </div>
          <br />
          <div class="setting-item">
            <label for="local-backup-dir">Local Backup Directory</label>
            <p id="local-backup-dir-instructions">
              This is where you'll be able to find backup copies of the files
              being monitored by SFS.
            </p>
            <input
              type="text"
              id="local-backup-dir"
              name="local-backip-dir"
              style="width: 500px"
              placeholder="current: {{.BackupDir}}"
            />
          </div>
          <div class="setting-item">
            <label for="client-port">Client Port</label>
            <p id="client-port-notification">
              NOTE: This will take effect next time the application is launched.
            </p>
            <input
              type="number"
              id="client-port"
              name="client-port"
              placeholder="current: {{.ClientPort}}"
            />
          </div>
          <br />
          <div class="setting-item">
            <label for="sync-delay">Sync Delay</label>
            <p id="sync-delay-instructions">
              This affects how often the client will create backups and attempt
              to synchronize with the server. The current setting is one sync
              event per {{.EventBufferSize}} detected events for a given item.
              Increasing this number will increase the time between
              syncronization events. Setting it to zero will have the client
              sync with every detected event.
            </p>
            <input
              type="number"
              id="sync-delay"
              name="sync-delay"
              placeholder="current: {{.EventBufferSize}}"
            />
          </div>
          <br />
          <button type="button" id="save-settings" onclick="submitSettings()">
            Save Settings
          </button>
        </form>
        <div id="loading-spinner" class="spinner" style="display: none">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
      <script type="text/javascript">
        document.addEventListener(
          "DOMContentLoaded",
          checkServerStatus("http://" + `{{.ServerHost}}`)
        );
        setInterval(checkServerStatus("http://" + `{{.ServerHost}}`), 60000); // Check every 60 seconds
      </script>
    </div>
  </body>
</html>
