<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "frame"}}
    <div id="content">
      <div id="upload-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              ></button>
              <h4 class="modal-title">
                <i class="fa fa-upload">Upload file</i>
                <p class="upload-info" style="font-weight: 100">
                  Items will be added to your drive and automatically uploaded
                  to the server.
                </p>
              </h4>
            </div>
            <div class="modal-body">
              <form
                action="/upload"
                method="post"
                class="dropzone"
                id="upload-form"
                enctype="multipart/form-data"
              ></form>
              <input
                type="file"
                id="file-upload"
                name="file-upload"
                style="display: none"
              />
              <div class="form-group">
                <label for="destination-folder">Destination Folder</label>
                <select
                  id="destination-folder"
                  name="destinationFolder"
                  class="form-control"
                >
                  {{range .Dirs}}
                  <option value="{{.Name}}">{{.Name}}</option>
                  {{end}}
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                onclick="removeAllUploads()"
              >
                Remove
              </button>
              <button type="button" class="btn btn-primary" id="upload-button">
                Upload
              </button>
            </div>
            <div id="response"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script
      type="text/javascript"
      src="/static/scripts/upload-file.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/clear-uploads.js"
    ></script>
    <script>
      // don't automatically upload files once dropped into the dropzone
      Dropzone.options.uploadForm = {
        autoProcessQueue: false,
      };
    </script>
    <script type="text/javascript">
      function checkServerStatus() {
        let serverURL = "http://" + "{{.ServerHost}}";
        console.log("serverURL: " + serverURL);
        const statusText = document.getElementById("status-text");
        fetch(serverURL)
          .then((response) => {
            if (response.ok) {
              statusText.textContent = "online";
              statusText.classList.remove("offline");
              statusText.classList.add("online");
            } else {
              throw new Error("Server offline");
            }
          })
          .catch((error) => {
            statusText.textContent = "offline";
            statusText.classList.remove("online");
            statusText.classList.add("offline");
          });
      }
      document.addEventListener("DOMContentLoaded", checkServerStatus);
      setInterval(checkServerStatus, 60000); // Check every 60 seconds
    </script>
  </body>
</html>
